
@{
   ViewBag.Title="Admin";
}



<!DOCTYPE HTML>
<html>

<head>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- Graph CSS -->
    <!-- jQuery -->
    <!-- lined-icons -->

    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />

    <script src="~/Scripts/simpleCart.min.js"></script>
    <script src="~/Scripts/amcharts.js"></script>

    <script src="~/Scripts/serial.js"></script>

    <script src="~/Scripts/light.js"></script>
    <!-- //lined-icons -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    

    @*<script>

        $.ajax({
            method: 'Get',
            url: 'http://localhost:2199/api/Authintecation/Admin_Auth',
            contentType: "application/json",
            headers: { 'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken') },
            success: function (data) {

            },
            error: function (jqXHR) {


                window.location = "http://localhost:46253/";


            },

        });

    </script>*@
    <!--pie-chart--->


</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
                <!-- header-starts -->
                <div class="header-section">
                    <!-- top_bg -->
                    <div class="top_bg">

                        <div class="header_top">
                            <div class="top_right">
                                <ul>
                                    <li><a href="contact.html">Admin</a> </li>|
                                </ul>
                            </div>
                            <div class="top_left">

                            </div>
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <!-- /top_bg -->
                </div>


                <div class="content">
                    <script src="~/Scripts/RegisterScript.js"></script>
                    <div id="Manage-Users" class="Manage-Users">

                        <div class="main">
                            <div class="container-fluid">
                                <div class="register-form">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-lg-4">
                                            <label>User NAME</label><br>
                                            <input id="TextUserName" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-lg-4">
                                            <label>Phone</label><br>
                                            <input id="TextPhone" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-lg-4">
                                            <label>EMAIL</label><br>
                                            <input id="TextEmail" class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-lg-4">
                                            <label>First Name</label><br>
                                            <input id="F_Name" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-lg-4">
                                            <label>Last Name</label><br>
                                            <input id="L_Name" class="form-control" type="text">
                                        </div>
                                    </div>


                                    <hr>

                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-lg-4">
                                            <label>PASSWORD</label><br>
                                            <input id="TextPassWord" class="form-control" type="password">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-lg-4">
                                            <label> Confirm PASSWORD</label><br>
                                            <input id="TextCPassWord" class="form-control" type="password">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-lg-4">
                                            <label> Roles</label><br>
                                            <select style="width: 200px; height: 40px; font-weight: bold" id="TextRole">
                                                <option value="Student">Student</option>
                                                <option value="Teacher">Teacher</option>
                                                <option value="Admin">Admin</option>
                                            </select>
                                        </div><br>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                                            <button class="btn btn-default regbutton" id="btnRegister">Register</button>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" tabindex="-1" id="successModel" data-keyboard="false" data-backdrop="static">

                                <div class="modal-dialog modal-sm">

                                    <div class="modal-content">

                                        <div class="modal-header">

                                            <button type="button" class="close" data-dismiss="modal">
                                                &times;
                                            </button>
                                            <h4>Success</h4>

                                        </div>


                                        <div class="modal-body">
                                            <h2>Registration successfull</h2>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div id="divError" class="alert alert-danger collapse">
                                <a id="LinkClose" class="close" href="#">&times;</a>
                                <div id="divErrorText"></div>
                            </div>
                        </div>

                    </div>






                </div>
                <!--content-->
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo1">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
            </header>
            <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
            <div class="menu">
                <ul id="menu">
                    <li id="Add_Users"><a href="index.html"><i class="glyphicon glyphicon-user "></i> <span>Add Users</span></a></li>
                    <li><a href="index.html"><i class="glyphicon glyphicon-question-sign "></i> <span>Manage Question</span></a></li>
                    <li><a href="index.html"><i class="glyphicon glyphicon-th"></i> <span>Change Password</span></a></li>

                    <script>
							var toggle = true;

							$(".sidebar-icon").click(function() {
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }

											toggle = !toggle;
										});
                    </script>

                    <script type="text/javascript">

	$(function() {

		// We use an inline data source in the example, usually data would
		// be fetched from a server

		var data = [],
			totalPoints = 300;

		function getRandomData() {

			if (data.length > 0)
				data = data.slice(1);

			// Do a random walk

			while (data.length < totalPoints) {

				var prev = data.length > 0 ? data[data.length - 1] : 50,
					y = prev + Math.random() * 10 - 5;

				if (y < 0) {
					y = 0;
				} else if (y > 100) {
					y = 100;
				}

				data.push(y);
			}

			// Zip the generated y values with the x values

			var res = [];
			for (var i = 0; i < data.length; ++i) {
				res.push([i, data[i]])
			}

			return res;
		}

		// Set up the control widget

		var updateInterval = 30;
		$("#updateInterval").val(updateInterval).change(function () {
			var v = $(this).val();
			if (v && !isNaN(+v)) {
				updateInterval = +v;
				if (updateInterval < 1) {
					updateInterval = 1;
				} else if (updateInterval > 2000) {
					updateInterval = 2000;
				}
				$(this).val("" + updateInterval);
			}
		});

		var plot = $.plot("#placeholder", [ getRandomData() ], {
			series: {
				shadowSize: 0	// Drawing is faster without shadows
			},
			yaxis: {
				min: 0,
				max: 100
			},
			xaxis: {
				show: false
			}
		});

		function update() {

			plot.setData([getRandomData()]);

			// Since the axes don't change, we don't need to call plot.setupGrid()

			plot.draw();
			setTimeout(update, updateInterval);
		}

		update();

		// Add the Flot version string to the footer

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

                    </script>
                    <!-- /real-time -->


</body>
</html>
