
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.canvasjs.min.js"></script>

<script type="text/javascript">


        function pattren()
        {var chart = new CanvasJS.Chart("chartContainer1",
	{
	    title:{
	        text: "Exam Pattern (20 Questions)",
	        fontFamily: "arial black"
	    },
	    animationEnabled: true,
	    legend: {
	        verticalAlign: "bottom",
	        horizontalAlign: "center"
	    },
	    theme: "theme1",
	    data: [
		{
		    type: "pie",
		    indexLabelFontFamily: "Garamond",
		    indexLabelFontSize: 20,
		    indexLabelFontWeight: "bold",
		    startAngle:0,
		    indexLabelFontColor: "MistyRose",
		    indexLabelLineColor: "darkgrey",
		    indexLabelPlacement: "inside",
		    toolTipContent: "{name}: {y}",
		    showInLegend: true,
		    indexLabel: "#percent%",
		    dataPoints: [
				{  y: 1, name: "Difficulty 5", legendMarkerType: "triangle"},
				{  y: 2, name: "Difficulty 4", legendMarkerType: "square"},
				{  y: 3, name: "Difficulty 3", legendMarkerType: "circle"},
                {  y: 4, name: "Difficulty 2", legendMarkerType: "circle"},
                {  y: 11, name: "Difficulty 1", legendMarkerType: "circle"},

		    ]
		}
	    ]
	});
            chart.render();
        }
         function ratio() {

            //Better to construct options first and then pass it as a parameter
            var options = {
                title: {
                    text: "Question Bank Difficulties  ratios"
                },
                animationEnabled: true,
                data: [
                {
                    type: "column", //change it to line, area, bar, pie, etc
                    dataPoints: [
                        { x: 5, y: 5 },
                        { x: 4, y: 2 },
                        { x: 3, y: a[3] },
                        { x: 2, y: a[2] },
                        { x: 1, y: a[1] },

                    ]
                }
                ]
            };

            $("#chartContainer").CanvasJSChart(options);
            pattren();

        }



</script>
<html>

@*<script>

    $.ajax({
        method: 'Get',
        url: 'http://localhost:2199/api/Authintecation/teacher_Auth',
        contentType: "application/json",
        headers: { 'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken') },
        success: function (data) {

        },
        error: function (jqXHR) {


            window.location = "http://localhost:46253/";


        },

    });

</script>*@


<head>
    <title>Teacher Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- Graph CSS -->
    <!-- jQuery -->
    <!-- lined-icons -->
    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />

    <script src="~/Scripts/simpleCart.min.js"></script>
    <script src="~/Scripts/amcharts.js"></script>

    <script src="~/Scripts/serial.js"></script>

    <script src="~/Scripts/light.js"></script>
    <!-- //lined-icons -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--pie-chart--->

</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
                <!-- header-starts -->
                <div class="header-section">
                    <!-- top_bg -->
                    <div class="top_bg">

                        <div class="header_top">
                            <div class="top_right">
                                <ul>
                                    <li><a href="contact.html">Teacher</a> </li>|
                                </ul>
                            </div>
                            <div class="top_left">
                                <h2><span></span> Contact The Institute : 032 2352 782</h2>
                            </div>
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <!-- /top_bg -->
                </div>

                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                <div id="chartContainer1" style="height: 300px; width: 100%; margin-top:10%"></div>

                <div class="content">



                </div>
                <!--content-->
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo1">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
            </header>
            <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
            <div class="menu">
                <ul id="menu">
                    <li><a href="index.html"><i class="glyphicon glyphicon-user "></i> <span>Manage Users</span></a></li>
                    <li><a href="index.html"><i class="glyphicon glyphicon-question-sign "></i> <span>Add Question</span></a></li>
                    <li><a href="index.html"><i class="glyphicon glyphicon-th"></i> <span>Change Password</span></a></li>

                    <script>
							var toggle = true;

							$(".sidebar-icon").click(function() {
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }

											toggle = !toggle;
										});
                    </script>

                    <script type="text/javascript">

	$(function() {

		// We use an inline data source in the example, usually data would
		// be fetched from a server

		var data = [],
			totalPoints = 300;

		function getRandomData() {

			if (data.length > 0)
				data = data.slice(1);

			// Do a random walk

			while (data.length < totalPoints) {

				var prev = data.length > 0 ? data[data.length - 1] : 50,
					y = prev + Math.random() * 10 - 5;

				if (y < 0) {
					y = 0;
				} else if (y > 100) {
					y = 100;
				}

				data.push(y);
			}

			// Zip the generated y values with the x values

			var res = [];
			for (var i = 0; i < data.length; ++i) {
				res.push([i, data[i]])
			}

			return res;
		}

		// Set up the control widget

		var updateInterval = 30;
		$("#updateInterval").val(updateInterval).change(function () {
			var v = $(this).val();
			if (v && !isNaN(+v)) {
				updateInterval = +v;
				if (updateInterval < 1) {
					updateInterval = 1;
				} else if (updateInterval > 2000) {
					updateInterval = 2000;
				}
				$(this).val("" + updateInterval);
			}
		});

		var plot = $.plot("#placeholder", [ getRandomData() ], {
			series: {
				shadowSize: 0	// Drawing is faster without shadows
			},
			yaxis: {
				min: 0,
				max: 100
			},
			xaxis: {
				show: false
			}
		});

		function update() {

			plot.setData([getRandomData()]);

			// Since the axes don't change, we don't need to call plot.setupGrid()

			plot.draw();
			setTimeout(update, updateInterval);
		}

		update();

		// Add the Flot version string to the footer

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

                    </script>
                    <!-- /real-time -->


</body>
</html>
