
@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/loginscript.js")
@Styles.Render("~/Styles/login.css")
@Styles.Render("~/Content/bootstrap.css")


<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />

<!DOCTYPE HTML>
<html>
<body>
    <!--header-->
    <div class="header-w3l">
        <h1> Good Luck With Your Exam!! </h1>
    </div>
    <!--//header-->
    <!--main-->
    <div class="main-content-agile">
        <div class="sub-main-w3">
                <input placeholder="Username or E-mail" name="Name" id="TextUserName" class="user" type="text" required=""><br>
                <input placeholder="Password" name="Password" class="pass" id="TextPassWord" type="password" required=""><br>
                <input type="button" class="btn-primary" id="btnLogin">
            
        </div>
        <div class="clearfix"> </div>

        <div id="divErrorText" class="alert alert-danger ">
            <button onclick="Close_Alert_Div()" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p id="P_error"></p>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--//main-->
    <!--footer-->
    <div class="footer">
        <p>&copy; All Right Reserved OES 2018</p>
    </div>
    <!--//footer-->

</body>
</html>