
@{
    ViewBag.Title = " Analysis";
}


<script src="~/Scripts/chart-pie.js"></script>
<script src="~/Scripts/amcharts.js"></script>
<script src="~/Scripts/serial.js"></script>
<script src="~/Scripts/light.js"></script>
<script src="~/Scripts/radar.js"></script>

@Scripts.Render("~/Scripts/canvasjs.min.js")

<!--//outer-wp-->
<div class="outter-wp">
    <!--/sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="index.html">Home</a></li>
            <li class="active"> Analysis</li>
        </ol>
    </div>
    <!--/sub-heard-part-->
    <!--/forms-->
    <div class="forms-main">
        <h2 class="inner-tittle"> GPA</h2>
        <div class="graph-form">
            <div class="validation-form">
                <!---->

                <div class="vali-form vali-form1">
                           
                                
               <div id="chartContainer2"  height="300"  style="width: 800px; height: 300px;"></div>
                </div>

            </div>
        </div>
        <!--//forms-->
    </div>
</div>


