
@{
    ViewBag.Title = "Marks";
}


@Scripts.Render("~/Scripts/Student.js")

<!--//Accordion-->

<div class="container" id="contanier">
    <div class="accordion">

        <h3 class="inner-tittle two">2017-1</h3>
        <div class="panel-group tool-tips graph-form" id="accordion" role="tablist" aria-multiselectable="true">


            @*first course*@
            <div class="panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" id="a22" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                            Algorithms and Data structures
                        </a>
                    </h4>
                </div>


                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="col-md-offset-3 col-md-6 inner-grid-button">

                            <div class="inner-share">
                                <div class="share share_size_large share_type_twitter">
                                    <span class="share__count">30</span>
                                    <a class="share__btn" href="#">Practical</a>
                                </div>
                                <div class="share share_size_large share_type_facebook">
                                    <span class="share__count">20</span>
                                    <a class="share__btn" href="#">MidTerm</a>
                                </div>
                                <div class="share share_size_large share_type_gplus">
                                    <span class="share__count">45</span>
                                    <a class="share__btn" href="#">Final</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            @*Second course*@
            <div class="panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Software Engineering 2
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                    <div class="panel-body">
                        <div class="col-md-offset-3 col-md-6 inner-grid-button">

                            <div class="inner-share">
                                <div class="share share_size_large share_type_twitter">
                                    <span class="share__count">30</span>
                                    <a class="share__btn" href="#">Practical</a>
                                </div>
                                <div class="share share_size_large share_type_facebook">
                                    <span class="share__count">20</span>
                                    <a class="share__btn" href="#">MidTerm</a>
                                </div>
                                <div class="share share_size_large share_type_gplus">
                                    <span class="share__count">45</span>
                                    <a class="share__btn" href="#">Final</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            @*Third course*@
            <div class="panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Computer Organization and Achitecture
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">

                        <div class="col-md-offset-3 col-md-6 inner-grid-button">

                            <div class="inner-share">
                                <div class="share share_size_large share_type_twitter">
                                    <span class="share__count">30</span>
                                    <a class="share__btn" href="#">Practical</a>
                                </div>
                                <div class="share share_size_large share_type_facebook">
                                    <span class="share__count">20</span>
                                    <a class="share__btn" href="#">MidTerm</a>
                                </div>
                                <div class="share share_size_large share_type_gplus">
                                    <span class="share__count">45</span>
                                    <a class="share__btn" href="#">Final</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--//Accordion-->
    <!--//Accordion-->

    
    <!--//Accordion-->




    
</div>