
@{
    ViewBag.Title = "AddCourse";
}



<!--//outer-wp-->
<div class="outter-wp">
    <!--/sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="index.html">Home</a></li>
            <li class="active">Add Course</li>  
        </ol>
    </div>
    <!--/sub-heard-part-->
    <!--/forms-->
    <div class="forms-main">
        <h2 class="inner-tittle">Add Course</h2>
        <div class="graph-form">
            <div class="validation-form">
                <!---->
                        <br>
                        <div class="vali-form vali-form1">
                            
                            <div class="col-md-6 form-group1">
                                <label class="control-label">Name</label>
                                <input type="text" id="Course_Name" >
                            </div>


                            <div class="col-md-6 form-group2 group-mail">
                                <label class="control-label">Cridt Hours</label>
                                <select id="Credit_Hours">
                                    <option value=""></option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                </select>
                            </div>

                           <div class="clearfix"></div>

                          
                            <br>
                               <div class="clearfix"></div>
                               <div class="col-md-12 form-group1 ">
                                   <label class="control-label">Description</label>
                                   <textarea id="Course_Description" placeholder="Description ..."></textarea>
                               </div>

                            <br>

                            <label class="control-label">ILOS:</label>
                            <div class="graph-form" >
                                <div class="input_fields_wrap">
                                    <div class="fields">
                                        <button class="btn btn-primary" id="add_field">Add More ILOS</button>
                                        <input class="form-control" type="text" id="text1" name=""><br>
                                        </div>
                                </div>
                            </div> 

                                
                           <div class="col-md-12 form-group button-2">
                               <br>
                               <button onclick="Add_Course()" class="btn btn-primary">Add</button>
                               <button type="reset" class="btn btn-default">Reset</button>
                           </div>


                            <div id="successText" class="alert alert-success ">
                                <button onclick="Close_Alert_Div()" type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Success!</strong> .
                            </div>


                            <div id="errortxt" class="alert alert-danger ">
                                <button onclick="Close_Alert_Div()" type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <p id="P_error"></p>
                            </div>
                           <div class="clearfix"> </div>


                    </div>

            </div>

        </div>
    </div>
    <!--//forms-->
</div>

