
@{
    ViewBag.Title = "AddCourse";
}


<!--//outer-wp-->
<div class="outter-wp">
    <!--/sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="index.html">Home</a></li>
            <li class="active">Add Course</li>
        </ol>
    </div>
    <!--/sub-heard-part-->
    <!--/forms-->
    <div class="forms-main">
        <h2 class="inner-tittle">Add Course</h2>
        <div class="graph-form">
            <div class="validation-form">
                <!---->

                        <br>
                        <div class="vali-form vali-form1">
                            
                            <div class="col-md-6 form-group1">
                                <label class="control-label">Name</label>
                                <input type="text" >
                            </div>


                            <div class="col-md-6 form-group2 group-mail">
                                <label class="control-label">Cridt Hours</label>
                                <select>
                                    <option value=""></option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                </select>
                            </div>

                           

                            <div class="col-md-6 form-group2 group-mail">
                                <label class="control-label">Teacher</label>
                                <select>
                                    <option value=""></option>
                                    <option value="">Talal</option>
                                    <option value="">Adnan</option>
                                    <option value="">Mohamad</option>
                                </select>
                            </div>
                            
                           
                            
                          
                          

                                    <div class="clearfix"></div>
                                    <div class="col-md-12 form-group1 ">
                                        <label class="control-label">Description</label>
                                        <textarea placeholder="Description ..."></textarea>
                                    </div>

                            <br>
                            <div style="border:2px solid gray ;padding:10px;border-radius:5px">

                                <label class="control-label">Topic:</label>
                                <div class="input_fields_wrap">
                                    <div><input type="text" name="mytext[]"></div><br>
                                    <button class="add_field_button">Add More Topic</button>
                                </div>

                            </div> 


                                    <!---->
                                    <div class="col-md-12 form-group button-2">
                                        <br>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-default">Reset</button>
                                    </div>

                                    <div class="clearfix"> </div>


                                </div>

            </div>

        </div>
    </div>
    <!--//forms-->
</div>

