

@{
    ViewBag.Title = "Add User";
}
@Scripts.Render("~/Scripts/Admin.js")


<!--//outer-wp-->
<div class="outter-wp">
    <!--/sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="index.html">Home</a></li>
            <li class="active">Add Course</li>
        </ol>
    </div>
    <!--/sub-heard-part-->
    <!--/forms-->
    <div class="forms-main">
        <h2 class="inner-tittle">Add User</h2>
        <div class="graph-form">
            <div class="validation-form">
                <!---->

                    <br>
                    <div class="vali-form vali-form1">

                        <div class="col-md-12 form-group1">
                            <label class="control-label">First Name</label>
                            <input id="F_Name" class="form-control" type="text">

                        </div>
                        <div class="col-md-12 form-group1">
                            <label class="control-label">Last Name</label>
                            <input id="L_Name" class="form-control" type="text">

                        </div>

                        <div class="clearfix"> </div>


                        <div class="col-md-12 form-group1">
                            <label class="control-label">Username</label>
                            <input id="TextUserName" class="form-control" type="text">
                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-12 form-group1">
                            <label class="control-label">Eamil</label>
                            <input id="TextEmail" class="form-control" type="email">
                        </div>
                        <div class="clearfix"></div>


                        @*Please Note that the password will be noramly genereated and not chose by the admin*@
                        <div class="col-md-12 form-group1">
                            <label class="control-label">Password</label><br />
                            <label class="control-label" style="opacity:0.5;">RandomlyGenerated Passwrod</label>
                        </div>
                       
                        <div class="clearfix"></div>
                       

                        <div class="col-md-12 form-group1">
                            <label class="control-label">Phone Number</label>
                            <input id="TextPhone" class="form-control">

                        </div>
                        <div class="clearfix"></div>
                        

                        <div class="col-md-12 form-group2 group-mail">
                            <label class="control-label">Type</label>
                            <select id="TextRole">
                                <option value=""></option>
                                <option value="">Student</option>
                                <option value="">teacher</option>
                            </select>
                        </div>

                       
                        <div class="clearfix"></div>
                    
                        <div class="col-md-12 form-group button-2">
                            <button class="btn btn-primary" id="btnRegister">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>

                        <div class="clearfix"> </div>

                        <div id="successText" class="alert alert-success ">
                            <button onclick="Close_Alert_Div()" type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Success!</strong> .

                        </div>

                        <div id="errortxt" class="alert alert-danger ">
                            <button onclick="Close_Alert_Div()" type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p id="P_error" ></p>
                        </div>


                    </div>
               

            </div>

        </div>
    </div>
    <!--//forms-->
</div>



