
@{
    ViewBag.Title = "Add User";
}


<!--//outer-wp-->
<div class="outter-wp">
    <!--/sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="index.html">Home</a></li>
            <li class="active">Add Course</li>
        </ol>
    </div>
    <!--/sub-heard-part-->
    <!--/forms-->
    <div class="forms-main">
        <h2 class="inner-tittle">Add Course</h2>
        <div class="graph-form">
            <div class="validation-form">
                <!---->

                <form>
                    <br>
                    <div class="vali-form vali-form1">

                        <div class="col-md-12 form-group1">
                            <label class="control-label">Name</label>
                            <input type="text">

                        </div>

                        <div class="clearfix"> </div>


                        <div class="col-md-12 form-group1">
                            <label class="control-label">Username</label>
                            <input type="text">
                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-12 form-group1">
                            <label class="control-label">Eamil</label>
                            <input type="text">
                        </div>
                        <div class="clearfix"></div>


                        @*Please Note that the password will be noramly genereated and not chose by the admin*@
                        <div class="col-md-12 form-group1">
                            <label class="control-label">Password</label><br />
                            <label class="control-label" style="opacity:0.5;">RandomlyGenerated Passwrod</label>
                        </div>
                        <div class="clearfix"></div>
                       

                        <div class="col-md-12 form-group1">
                            <label class="control-label">Phone Number</label>
                            <input type="text">
                        </div>
                        <div class="clearfix"></div>
                        

                        <div class="col-md-12 form-group2 group-mail">
                            <label class="control-label">Type</label>
                            <select>
                                <option value=""></option>
                                <option value="">Student</option>
                                <option value="">Teacher</option>
                            </select>
                        </div>

                       
                        <div class="clearfix"></div>
                    
                        <div class="col-md-12 form-group button-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>

                        <div class="clearfix"> </div>


                    </div>
                </form>

            </div>

        </div>
    </div>
    <!--//forms-->
</div>

