
@{
    ViewBag.Title = "Exam Analysis";
}


<script src="~/Scripts/chart-pie.js"></script>
<script src="~/Scripts/amcharts.js"></script>
<script src="~/Scripts/serial.js"></script>
<script src="~/Scripts/light.js"></script>
<script src="~/Scripts/radar.js"></script>

@Scripts.Render("~/APIScript/Charts.js")
@Styles.Render("~/API_CSS/waite.css")

<!--//outer-wp-->
<body>
<div class="outter-wp">
    <!--/sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="index.html">Home</a></li>
            <li class="active">Exam Analysis</li>
        </ol>
    </div>
    <!--/sub-heard-part-->
    <!--/forms-->
    <div class="forms-main" id="Exam-main1">
        <h2 class="inner-tittle">Exam Analysis</h2>
        <div class="graph-form">
            <div class="validation-form">
                <!---->

                <div class="vali-form vali-form1">


                    <div class="col-md-12 form-group2 group-mail">
                        <label class="control-label">Semester</label>
                        <select id="Semester_select">
                            <option value="">2018-1</option>

                        </select>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-12 form-group2 group-mail">
                        <label class="control-label">Course Name</label>
                        <select id="CoursedA-s">
                            <option value=""></option>

                        </select>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-12 form-group2 group-mail">
                        <label class="control-label">Exam Type</label>
                        <select id="ExamA-S">
                            <option value=""></option>

                        </select>
                    </div>


                    <div class="clearfix"></div>


                    <div class="col-md-4 col-md-offset-5 form-group button-2">
                        <button class="btn btn-primary" id="AdminExamAnalysis">Submit</button>
                    </div>
                    <div class="clearfix"></div>





                </div>

            </div>

        </div>
    </div>


    <!--//forms-->



    <div class="forms-main" id="Exam-main2">

        <div class="clearfix"></div>
        <div>
            <div class="  col-md-4 form-group2">
                <h3 class="inner-tittle">Exam Information </h3>
                <br>
                <div class="main-grid3">
                    <div class="p-20">

                        <div class="about-info-p">
                            
                            <strong>Marks:</strong>
                            <p class="text-muted" style="display:inline" id="ExamMarks"></p>
                       
                            </div>

                        <div class="about-info-p">
                            <strong>Type:</strong>
                            
                            <p class="text-muted" style="display:inline" id="ExamType"></p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="about-info-p">
                            <strong>Date:</strong>
                           
                            <p class="text-muted" style="display:inline" id="ExamDate"></p>
                        </div>
                        <div class="about-info-p">
                            <strong>Period:</strong>
                           
                            <p class="text-muted" style="display:inline" id="ExamPeriod"></p><p> Hours</p>
                        </div>
                        <div class="about-info-p m-b-0">
                            <strong>Number:</strong>
                            
                            <p class="text-muted" style="display:inline" id="StudentNumber"></p>
                        </div>
                        <div class="about-info-p m-b-0">
                            <strong>Success Rate:</strong>
                           
                            <p class="text-muted" style="display:inline" id="SuccessRate"></p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-8 form-group2">
                <div>
                    <h3 class="inner-tittle">Student Marks </h3>
                    <div class="grid-1">
                        <h4>Mark</h4>
                        <div id="chartContainer" height="300" width="500" style="width: 500px; height: 300px;"></div>
                        <div class="clearfix"></div>
                        
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


      
           
          
             
                            <div class="col-md-12 " id="EXAMILOS_">
                                <h3 class="inner-tittle" id="head-an">Exam "ILOS </h3>
                                <div>
                                    <br>
                                    <div class="main-grid3">
                                        <div class="p-20 float-left" id="ILOSDIV_"  style=" width:470px;" >
                                            <div class="about-info-p"  id="CILOS_" >
                                                <div class="clearfix"> </div>
                                                <strong id="IlosNumber" style="display:inline"></strong>
                                                <div class="clearfix"> </div>
                                                
                                                <p class="text-muted"id="ILOSTEXT" style="display:inline" ></p>
                                            </div>
                                      
                                        </div>
                                        <div class="float-right" id="ILOSCHARDIV" height="315" width="400" style="width: 470px; height: 315px;"></div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>


        <div id="IlosTopicDiv">

        </div>
                <div class="col-md-6 graph-2 second">
                     
                        <div class="text-2">
                           
                           
                        </div>
                        <div class="clearfix"> </div>
                        <div class="clearfix"> </div>

                    </div>

                </div>
                <div class="clearfix"></div>

            </div>

<div class="modal"><!-- Place at bottom of page --></div>

    </body>



