
@{
    ViewBag.Title = "Exam Analysis";
}


<script src="~/Scripts/chart-pie.js"></script>
<script src="~/Scripts/amcharts.js"></script>
<script src="~/Scripts/serial.js"></script>
<script src="~/Scripts/light.js"></script>
<script src="~/Scripts/radar.js"></script>

@Scripts.Render("~/APIScript/Charts.js")

<!--//outer-wp-->
<div class="outter-wp">
    <!--/sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="index.html">Home</a></li>
            <li class="active">Exam Analysis</li>
        </ol>
    </div>
    <!--/sub-heard-part-->
    <!--/forms-->
    <div class="forms-main">
        <h2 class="inner-tittle">Exam Analysis</h2>
        <div class="graph-form">
            <div class="validation-form">
                <!---->

                <div class="vali-form vali-form1">

                    <div class="col-md-12 form-group2 group-mail">
                        <label class="control-label">Course Name</label>
                        <select id="Course_select">
                            <option value=""></option>

                        </select>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-12 form-group2 group-mail">
                        <label class="control-label">Exam Type</label>
                        <select id="teacher_select">
                            <option value=""></option>

                        </select>
                    </div>


                    <div class="clearfix"></div>


                    <div class="col-md-4 col-md-offset-5 form-group button-2">
                        <button class="btn btn-primary" id="">Submit</button>
                    </div>
                    <div class="clearfix"></div>


                    <div class="grid-charts">

                        <div class="col-md-6 graph-2">
                            <h3 class="inner-tittle">Line Chart </h3>
                            <div class="grid-1">
                                <h4>Line</h4>
                                <canvas id="line2" height="300" width="500" style="width: 500px; height: 300px;"></canvas>
                                <script>
                                    var lineChartData = {
                                        labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Mon"],
                                        datasets: [
                                            {
                                                fillColor: "#f4f4f4",
                                                strokeColor: "#052963",
                                                pointColor: "#00C6D7",
                                                pointStrokeColor: "#00C6D7",
                                                data: [20, 35, 45, 30, 10, 65, 40]
                                            }
                                        ]

                                    };
                                    new Chart(document.getElementById("line2").getContext("2d")).Line(lineChartData);
                                </script>
                            </div>
                        </div>


                        <div class="col-md-6 graph-2 second">
                            <h3 class="inner-tittle">Pie Chart </h3>
                            <div class="grid-1">
                                <div class="text-1">
                                    <h4>Pie</h4>
                                    <div class="grid-graph">
                                        <div class="grid-graph1">
                                            <div id="os-Win-lbl">Chrome <span>100%</span></div>
                                            <div id="os-Mac-lbl">Internet Explorer <span> 50%</span></div>
                                            <div id="os-Other-lbl">Safari<span>30%</span></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-2">
                                    <canvas id="pie" height="315" width="470" style="width: 470px; height: 315px;"></canvas>
                                    <script>
                                        var pieData = [
                                            {
                                                value: 30,
                                                color: "#ea4c89"
                                            },
                                            {
                                                value: 50,
                                                color: "#052963"
                                            },
                                            {
                                                value: 100,
                                                color: "#00C6D7"
                                            }

                                        ];
                                        new Chart(document.getElementById("pie").getContext("2d")).Pie(pieData);
                                    </script>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>

                        <div class="clearfix"> </div>

                    </div>

                   
                </div>

            </div>

        </div>
    </div>
    <!--//forms-->
</div>


