
@{
    ViewBag.Title = "SemestersCourse";
}



@{
    ViewBag.Title = "Semesters Course";
}


<!--//outer-wp-->
<div class="outter-wp">
    <!--/sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="index.html">Home</a></li>
            <li class="active">Semesters Course</li>
        </ol>
    </div>
    <!--/sub-heard-part-->
    <!--/forms-->
    <div class="forms-main">
        <h2 class="inner-tittle">Semesters Course</h2>
        <div class="graph-form">
            <div class="validation-form">
                <!---->

                <div class="clearfix"></div>
                <div class="vali-form vali-form1">

                    <div class="col-md-6 form-group2 group-mail">
                        <label class="control-label">Course Name</label>
                        <select id="Credit_Hours">
                            <option value=""></option>
                            <option value="">Course1</option>
                            <option value="">Course2</option>
                            <option value="">Course3</option>
                        </select>
                    </div>

                    <div class="col-md-6 form-group2 group-mail">
                        <label class="control-label">Teacher</label>
                        <select id="Credit_Hours">
                            <option value=""></option>
                            <option value="">Teacher1</option>
                            <option value="">Teacher2</option>
                            <option value="">Teacher3</option>
                        </select>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-6 form-group1">
                        <label class="control-label">Semester</label>
                        <input type="text" id="Course_Name">
                    </div>



                    <div class="clearfix"></div>
                    <div class="col-md-12 form-group button-2">
                        <button class="btn btn-primary" id="btnRegister">Submit</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>


                </div>

            </div>

        </div>
    </div>
    <!--//forms-->
</div>


