
@{
    ViewBag.Title = "Semester Analysis";
}


<script src="~/Scripts/chart-pie.js"></script>
<script src="~/Scripts/amcharts.js"></script>
<script src="~/Scripts/serial.js"></script>
<script src="~/Scripts/light.js"></script>
<script src="~/Scripts/radar.js"></script>

@Scripts.Render("~/APIScript/Charts.js")


<!--//outer-wp-->
<div class="outter-wp">
    <!--/sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="index.html">Home</a></li>
            <li class="active">Semester Analysis</li>
        </ol>
    </div>
    <!--/sub-heard-part-->
    <!--/forms-->
    <div class="forms-main">
        <h2 class="inner-tittle">Semester Analysis</h2>
        <div class="graph-form">
            <div class="validation-form">
                <!---->

                <div class="vali-form vali-form1" id="se-main1">
                    <div class="clearfix"></div>

                    <div class="col-md-12 form-group2 group-mail">
                        <label class="control-label">Semester</label>
                        <select id="Semester_select">
                            <option value="">2018-1</option>

                        </select>
                    </div>

                    <div class="clearfix"></div>



                    <div class="col-md-4 col-md-offset-5 form-group button-2">
                        <button class="btn btn-primary" id="A_semesterAnalysis">Analysis</button>
                    </div>

                    <div class="clearfix"></div>
                </div>


                    <div class="grid-charts" id="semesteradmin">

                        


                        <div class="col-md-12">
                            <div class="grid-1">
                                <div class="text-1">
                                  
                                </div>

                                <div class="text-2">
                                    <div id="SemesterAnalysis" height="315" width="470" style="width: 470px; height: 315px;"></div>
                                   
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>

                        <div class="clearfix"> </div>

                    </div>

               

            </div>
        </div>
        <!--//forms-->
    </div>
</div>


