
@{
    ViewBag.Title = "Staistics";
}

<script src="~/Scripts/chart-pie.js"></script>
<script src="~/Scripts/amcharts.js"></script>
<script src="~/Scripts/serial.js"></script>
<script src="~/Scripts/light.js"></script>
<script src="~/Scripts/radar.js"></script>




<div class="container">


    <div class="col-md-12 form-group2 group-mail">
        <label class="control-label">Semester</label>
        <select id="Semester_select">
            <option>2018-1</option>
        </select>
    </div>

    <div class="col-md-12 form-group2 group-mail">
        <label class="control-label">Choose Course</label>
        <select id="Course_select">
           <option></option>
        </select>
    </div>

    <br>
    <div class="clearfix"></div>

    <div class="inner-charts">
        <div class="graph">
            <div id="CourseMark" style="height: 300px; width: 100%;"></div>

        </div>

        <!--/grid-charts-->

        
        <!--//grid-charts-->

    </div>
    <!--/inner-charts-->


</div>
