<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="OES_QuestionBank" connectionString="metadata=res://*/OES_QuestionBank.csdl|res://*/OES_QuestionBank.ssdl|res://*/OES_QuestionBank.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/orcl;PASSWORD=oracle;USER ID=QUESTIONBANK&quot;" providerName="System.Data.EntityClient" />
    <add name="OES_STD_AnsEntities" connectionString="metadata=res://*/OES_STD_Ans.csdl|res://*/OES_STD_Ans.ssdl|res://*/OES_STD_Ans.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=oes_std_ans&quot;" providerName="System.Data.EntityClient" />
    <add name="OES_AccoutsEntities" connectionString="metadata=res://*/OES_Accounts.csdl|res://*/OES_Accounts.ssdl|res://*/OES_Accounts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FNI;initial catalog=OES_Accouts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>