body , html {
	height: 100%;
 }

.head { 
	background-color: #d3d1d1;
	opacity: 0.8; 

 }

 #cd ,#cdq {
  text-align: center;
  font-size: 30px;
  margin-top:0px;
}

.user-sec {
	/*background-color: lightgray;*/
	margin-top: 10px;
	height: 80px;
	opacity: 0.9;
	/*border:2px solid;*/

	}

#glPic { 
width: 180px;
height: 80px;
}


.Exam {
 	border:2px black;
 	border-radius: 5px;
 	margin: 15px;
 	margin-top:5px;
 }


 .Timer {
 	/*background-color: #e5f9e3;*/
 	border:2px black;
 	margin: 15px;
 	margin-top:5px;

  }


  .Questions {
  	/*background-color: DarkSeaGreen;*/
 	border:2px black;
  	margin : 15px;
  	margin-left: 0px;
 	margin-top:0px;
 	/*border:1px  black ;*/
  } 

  .bg{
  	background-image: url("../img/bg5.jpg");
  	opacity: 0.9;
  	height: 100%;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	
  }


   #logo { 
   	height: 80px;
   	width: 160px;
   margin-right:0px;
   
  }


    #avatar { 
    height: 50px;
    width: 50px;
    position: relative;
    left: 8px;
    top:16px;
    margin: 0px;
    padding:0px;
   }

   #Username {
   	position: relative;
   	left: 10px;
   	top: 20px;
   	font-weight: bold;	
   }


