@{
    ViewBag.Title = "AddQuestion";
}

<!--//outer-wp-->
<div class="outter-wp">
    <!--/sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="index.html">Home</a></li>
            <li class="active">Add Question</li>
        </ol>
    </div>
    <!--/sub-heard-part-->
    <!--/forms-->
    <div class="forms-main">
        <h2 class="inner-tittle">Add Question</h2>
        <div class="graph-form">
            <div class="validation-form">
                <!---->

                <form>

                    <div class="col-md-12 form-group1 ">
                        <label class="control-label">Question</label>
                        <textarea placeholder="Question Text..." required=""></textarea>
                    </div>
                    <div class="clearfix"> </div>
                    <br>

                    <div class="vali-form vali-form1">

                        <div class="col-md-3 form-group2 group-mail">
                            <label class="control-label">Thinking skills</label>
                            <select>
                                <option value="">Writing</option>
                                <option value="">Reading</option>
                                <option value="">Critical Thiking</option>
                                <option value="">Designing</option>
                            </select>
                        </div>

                        <div class="col-md-3 form-group1">
                            <label class="control-label">Time minutes</label>
                            <input type="text" placeholder="between 3-15" required="">
                        </div>


                        <div class="col-md-3 form-group2 group-mail">
                            <label class="control-label">Difficulty</label>
                            <select>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>

                        <div class="col-md-3 form-group1">
                            <label class="control-label">Mark</label>
                            <input type="text" placeholder="between 1-5" required="">
                        </div>
                        <div class="clearfix"> </div>
                    </div>



                    <div class="col-md-12 form-group1 group-mail">
                        <label class="control-label">Answers</label>
                        <input type="text" placeholder="True Answer" required="">
                    </div>
                    <div class="clearfix"> </div>

                    <div class="col-md-12 form-group1 group-mail">
                        <input type="text" placeholder="Answer 1" required="">
                    </div>
                    <div class="clearfix"> </div>

                    <div class="col-md-12 form-group1 group-mail">
                        <input type="text" placeholder="Answer 2" required="">
                    </div>
                    <div class="clearfix"> </div>

                    <div class="col-md-12 form-group1 group-mail">
                        <input type="text" placeholder="Answer 3" required="">
                    </div>
                    <div class="clearfix"> </div>


                    <div class="col-md-12 form-group button-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                    <div class="clearfix"> </div>
                </form>

                <!---->
            </div>

        </div>
    </div>
    <!--//forms-->
</div>
<!--//outer-wp-->



